<h1>Main page</h1>

<div class="new-student" style="width:10%;text-align:center;">
    @Html.ActionLink("New Student", "LoadForm", "Student")
</div>

<div class="new-teacher" style="width:10%;text-align:center;" >
    @Html.ActionLink("New Teacher", "LoadForm", "Teacher")
</div>